[submodule "wasm-micro-runtime"]
	path = wasm-micro-runtime
	url = https://github.com/dylibso/wasm-micro-runtime
[submodule "dockerfile-parser-rs"]
	path = dockerfile-parser-rs
	url = https://github.com/dylibso/dockerfile-parser-rs
